<script type="text/javascript">
    var viz;
    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://2d9e177e.databases.neo4j.io",
            server_user: "neo4j",
            server_password: "f9U6k-PUT8a1GLFI6cC5pEejtqAh1SdS_G5S2gFSGfY",
            encrypted: "ENCRYPTION_ON",
            trust: "TRUST_SYSTEM_CA_SIGNED_CERTIFICATES",
            arrows: true,
            labels: {
                "kategori": {
                    "caption": "subsektor",
                    "title_properties": [
                        "subsektor"
                    ]
                },
                "UMKM": {
                    "caption": "nama_usaha",
                    "title_properties": [
                        "nama_usaha"
                    ]
                },
                "produk": {
                    "caption": "nama_produk",
                    "title_properties": [
                        "nama_produk"
                    ]
                }
            },
            relationships: {
                "Kategori": {
                    "caption": true
                },
                "Mempunyai": {
                    "caption": true
                }
            },
            initial_cypher: "MATCH a=(n:kategori)-[]-(u:UMKM), b=(u:UMKM)-[]-(p:produk) RETURN a,b"
        };

        viz = new NeoVis.default(config);
        viz.render();
        viz.registerOnEvent("completed", (e) => {
            let graphdata = viz["_network"];
            let label_groups = graphdata.nodesHandler.groups.groups;
            getAndChangeNodeColors(label_groups);
        });
    }
</script>

<!-- Info Lengkap Pelaku UMKM -->
<script>
    function infoLengkap(id){
        $.ajax({
            url: "{{ url_for('user_bp.infoLengkap') }}",
            method: "GET",
            dataType: "json",
            data: {id:id},
            success: function(response){
                if (response.status === "success") {
                    $('#modalInfoLengkap').modal('show');
                    response.data.forEach(element => {
                        $('#showNamaPemilik').html(element.nama_pemilik);
                        $('#showFotoUsaha').html("<img src='../static/uploads/"+element.foto+"' width='50' height='50'/>");
                        $('#showPortfolio').html("<img src='../static/uploads/"+element.portfolio+"' style='width:100%'/>");
                        $('#showNamaUsaha').html(element.nama_usaha);
                        $('#showNohpUsaha').html("<a href='tel:"+element.nohp+"' title='Klik untuk menyimpan nomor' target='_blank'>"+element.nohp+"</a>");
                        $('#showEmailUsaha').html("<a href='mailto:"+element.email+"' title='Klik untuk mengirim email' target='_blank'>"+element.email+"</a>");
                        $('#showFacebookUsaha').html("<a href='https://facebook.com/"+element.facebook+"' title='Klik untuk beralih ke facebook' target='_blank'>"+element.facebook+"</a>");
                        $('#showInstagramUsaha').html("<a href='https://instagram.com/"+element.instagram+"' title='Klik untuk beralih ke instagram' target='_blank'>"+element.instagram+"</a>");
                        $('#showTahunBerdiri').html(element.thn_berdiri);
                        $('#showKlasifikasi').html(element.klasifikasi);
                        $('#showLegalitas').html(element.legalitas);
                        $.getJSON("http://dev.farizdotid.com/api/daerahindonesia/kelurahan/"+element.kelurahan, function(jsonKel) {
                            $('#showKelurahan').html(jsonKel['nama']);
                        });
                        $.getJSON("http://dev.farizdotid.com/api/daerahindonesia/kecamatan/"+element.kecamatan, function(jsonKec) {
                            $('#showKecamatan').html(jsonKec['nama']);
                        });
                        $('#showSubsektor').html(element.subsektor);
                        $('#showGoogleMaps').html("<a href='https://www.google.com/maps/place/"+element.long+","+element.lat+"' target='_blank'>Beralih ke Gmaps</a>");
                    });
                } else {
                    alert("Gagal mengambil data");
                }
            }
        });
    }
</script>

<!-- Info Data Kecamatan dan Kelurahan -->
<script>
    if($("#kecamatan").length > 0) {
        $.ajax({
            url: "http://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=1471",
            method: "GET",
            dataType: "json",
            success: function(response){
                response.kecamatan.forEach(element => {
                    $("#kecamatan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                });
            }
        });
    }

    if($("#edit_kecamatan").length > 0) {
        $.ajax({
            url: "http://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=1471",
            method: "GET",
            dataType: "json",
            success: function(response){
                response.kecamatan.forEach(element => {
                    if(element.id == $("#id_kecamatan").val()) {
                        $("#edit_kecamatan").append("<option value='" + element.id + "' selected>" + element.nama + "</option>");
                    } else {
                        $("#edit_kecamatan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                    }
                });
            }
        });
    }

    if($("#edit_kelurahan").length > 0) {
        var id_kecamatan = $("#id_kecamatan").val();
        var id_kelurahan = $("#id_kelurahan").val();
        $.ajax({
            url: "http://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan="+id_kecamatan,
            method: "GET",
            dataType: "json",
            success: function(response){
                $('#edit_kelurahan').find('option').remove().end().append('<option>--Pilih Kelurahan--</option>');
                response.kelurahan.forEach(element => {
                    if(element.id == id_kelurahan) {
                        $("#edit_kelurahan").append("<option value='" + element.id + "' selected>" + element.nama + "</option>");
                    } else {
                        $("#edit_kelurahan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                    }
                });
            }
        });
    }

    function dataKelurahanEdit(){
        var id = $("#edit_kecamatan").val();
        $.ajax({
            url: "http://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan="+id,
            method: "GET",
            dataType: "json",
            success: function(response){
                $('#edit_kelurahan').find('option').remove().end().append('<option>--Pilih Kelurahan--</option>');
                response.kelurahan.forEach(element => {
                    $("#edit_kelurahan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                });
            }
        });
    }

    function dataKelurahan(){
        var id = $("#kecamatan").val();
        $.ajax({
            url: "http://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan="+id,
            method: "GET",
            dataType: "json",
            success: function(response){
                $('#kelurahan').find('option').remove().end().append('<option value="">--Pilih Kelurahan--</option>');
                response.kelurahan.forEach(element => {
                    $("#kelurahan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                });
            }
        });
    }
</script>

{% if 'dashboard' in request.base_url %}
    <script type="text/javascript">
        
        // inisiasi koordinat peta pekanbaru
        var map = L.map('mapUmkmUser').setView([0.533505, 101.447403], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // inisiasi marker titik lokasi
        var markers = L.layerGroup();

        //mengambil data UMKM yg dikirim dalam bentuk json
        var dataUMKM = JSON.parse('{{ dataUMKM | tojson | safe}}');

        //menampilkan data marker pada peta sesuai data yang dikirim
        dataUMKM.forEach(result => {
            var marker = L.marker([result.long, result.lat]);
            marker.bindPopup("<b>Nama Usaha : </b>"+result.nama_usaha+"<br><a href='javascript:void(0)' onclick='infoLengkap("+result.id+")'>Selengkapnya...</a>");
            markers.addLayer(marker);
        });
        
        this.map.addLayer(markers);

        //ketika mengklik button cari UMKM 
        $("#cariUMKM").click(function() {
            
            //menerima keyword yg akan dicari
            var subsektor = document.getElementById("subsektor").value;
            var klasifikasi = document.getElementById("klasifikasi").value;
            var legalitas = document.getElementById("legalitas").value;
            var kecamatan = document.getElementById("kecamatan").value;
            var kelurahan = document.getElementById("kelurahan").value;
            
            var where_condition = "";
            if(subsektor != "") {
                where_condition += "p.subsektor = '"+subsektor+"'";
            }
            if(klasifikasi != "") {
                where_condition += " AND q.klasifikasi = '"+klasifikasi+"'";
            }
            if(legalitas != "") {
                where_condition += " AND q.legalitas = '"+legalitas+"'";
            }
            if(kecamatan != "") {
                where_condition += " AND q.kecamatan = '"+kecamatan+"'";
            }
            if(kelurahan != "") {
                where_condition += " AND q.kelurahan = '"+kelurahan+"'";
            }

            if(where_condition.substring(0, 4) == " AND") {
                where_condition = where_condition.substring(4);
            }
            
            //query pencarian data UMKM berdasarkan nama UMKM, nama Pemilik, nama produk
            var querynya = 'MATCH a=(p:kategori)-[]-(q:UMKM)-[]-(r:produk) WHERE ' + where_condition + ' RETURN a LIMIT 50';
            
            //menampilkan graph berdasarkan hasil query di atas
            viz.renderWithCypher(querynya);
            viz.registerOnEvent("completed", (e) => {
                let graphdata = viz["_network"];
                let label_groups = graphdata.nodesHandler.groups.groups;
                getAndChangeNodeColors(label_groups);
            });
            $.ajax({
                url: "{{ url_for('user_bp.pencarian') }}",
                method: "GET",
                dataType: "json",
                data: {keyword:where_condition},
                beforeSend: function (e) {
                    $("#cariUMKM").html("Mencari...");
                    $("#cariUMKM").attr("disabled", true);
                },
                success: function (response) {
                    if (response.status === "success") {
                        if(response.data.length > 0){
                            var totalMarkerInside = 0;
                            markers.clearLayers();
                            response.data.forEach(result => {
                                
                                //menampilkan nama usaha dan hiperlink selengkapnya
                                var marker = L.marker([result.long, result.lat]);
                                marker.bindPopup("<b>Nama Usaha : </b>"+result.nama_usaha+"<br><a href='javascript:void(0)' onclick='infoLengkap("+result.id+")'>Selengkapnya...</a>");
                                markers.addLayer(marker);
                            });
                        }else{
                            alert("Data Tidak Ditemukan.");
                        }
                    } else if (response.status === "failed") {
                        alert("Terjadi kesalahan.");
                    }
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                    alert("Terjadi kesalahan: " + xhr.status + ": " + xhr.statusText);
                },
                complete: function () {
                    $("#cariUMKM").html("Cari");
                    $("#cariUMKM").attr("disabled", false);
                }
            });

            

            // Tampilkan jumlah data
            $.ajax({
                url: "{{ url_for('user_bp.total_pencarian') }}",
                method: "GET",
                dataType: "json",
                data: {keyword:where_condition},
                beforeSend: function (e) {
                    $("#total-kategori").empty();
                    $("#total-umkm").empty();
                    $("#total-umkm-peta").empty();
                    $("#total-produk").empty();
                },
                success: function (response) {
                    if (response.status === "success") {
                        $("#total-kategori").html("<b>TOTAL Kategori : </b>"+response.kategori);
                        $("#total-umkm").html("| <b>TOTAL UMKM : </b>"+response.umkm);
                        $("#total-umkm-peta").html("<b>TOTAL UMKM : </b>"+response.umkm);
                        $("#total-produk").html("| <b>TOTAL Produk : </b>"+response.produk);
                    } else if (response.status === "failed") {
                        alert("Terjadi kesalahan.");
                    }
                }
            });

        });
    </script>
{% endif %}
<script>
function getAndChangeNodeColors(label_groups) {
    $("#dot-neovis").html("");
    let counter = 1;

    for (const key in label_groups) {
        for (const key2 in label_groups[key]) {
            let labelNama = key;
            let background_color = label_groups[key][key2].background;

            setNodeColors(counter, background_color, labelNama);
            counter++;
        }
    }
}

function setNodeColors(counter, color, labelNama) {
    $("#dot-neovis").append("<span id=dot-neovis-" + counter + " class=\"dot-neovis-colors\"></span> " + labelNama.toUpperCase() + " ");
    $("#dot-neovis-" + counter).css("background-color", color);
}
</script>