<footer class="footer">
    <div class="container-fluid">
        <div class="copyright ml-auto">
           Crafted With <i class="la la-heart heart text-danger"></i> by Novita Maya Sari
        </div>				
    </div>
</footer>