<script src="{{ url_for('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/chartist/chartist.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/jquery-mapael/jquery.mapael.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/jquery-mapael/maps/world_countries.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/chart-circle/circles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ready.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
<script>
    $(document).ready(function() {
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    });    
</script>