<!-- Modal -->
<div class="modal fade" id="modalInfoLengkap" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Informasi Lengkap</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">									
                <a class="text-dark"><b>Nama Pemilik :</b> <div id="showNamaPemilik"></div></a><br>
                <a class="text-dark"><b>Foto UMKM :</b> <div id="showFotoUsaha"></div></a><br>
                <!-- <a class="text-dark"><b>Portofolio :</b> <div id="showPortfolio"></div></a><br> -->
                <a class="text-dark"><b>Nama UMKM :</b> <div id="showNamaUsaha"></div></a><br>
                <a class="text-dark"><b>NoHP UMKM :</b> <div id="showNohpUsaha"></div></a><br>
                <a class="text-dark"><b>Email UMKM :</b> <div id="showEmailUsaha"></div></a><br>
                <a class="text-dark"><b>Facebook UMKM :</b> <div id="showFacebookUsaha"></div></a><br>
                <a class="text-dark"><b>Instagram UMKM :</b> <div id="showInstagramUsaha"></div></a><br>
                <a class="text-dark"><b>Tahun UMKM didirikan :</b> <div id="showTahunBerdiri"></div></a><br>
                <a class="text-dark"><b>Klasifikasi :</b> <div id="showKlasifikasi"></div></a><br>
                <a class="text-dark"><b>Legalitas :</b> <div id="showLegalitas"></div></a><br>
                <a class="text-dark"><b>Kecamatan :</b> <div id="showKecamatan"></div></a><br>
                <a class="text-dark"><b>Kelurahan :</b> <div id="showKelurahan"></div></a><br>
                <a class="text-dark"><b>Subsektor :</b> <div id="showSubsektor"></div></a><br>
                <a class="text-dark"><b>Lihat di GMaps :</b> <div id="showGoogleMaps"></div></a><br>
                <hr>
                <h3>Portofolio</h3>
                <div id="showPortfolio"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ubah Profil -->
<div class="modal fade" id="modalProfil" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Ubah Profil</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('user_bp.ubah_profil') }}">
                <input type="hidden" name="id" value="{{ session['id'] }}">
                <div class="modal-body">									
                    <div class="form-group">
                        <label for="">Nama Anda</label>
                        <input type="text" class="form-control" name="nama" placeholder="Nama Lengkap.." required="" value="{{ session['nama'] }}">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email.." required="" value="{{ session['email'] }}">
                    </div>
                    <div class="form-group">
                        <label for="">Nomor HP</label>
                        <input type="number" class="form-control" name="nohp" placeholder="Nomor HP.." required="" value="{{ session['nohp'] }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ubah</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Ubah Password -->
<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Ubah Password</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('user_bp.ubah_password') }}">
                <input type="hidden" name="id" value="{{ session['id'] }}">
                <div class="modal-body">									
                    <div class="form-group">
                        <label for="">Password Lama</label>
                        <input type="password" class="form-control" name="old_password" placeholder="Password lama.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Password Baru</label>
                        <input type="password" class="form-control" name="new_password" placeholder="Password baru.." required="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ubah</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Tambah Data UMKM -->
<div class="modal fade" id="modalTambahDataUMKM" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Tambah Data UMKM</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('user_bp.tambah_umkm') }}" enctype="multipart/form-data">
                <div class="modal-body">									
                    <div class="form-group">
                        <label for="">Nama Usaha</label>
                        <input type="text" class="form-control" name="nama_usaha" placeholder="Nama usaha.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Foto Usaha (PNG, JPG, JPEG)</label>
                        <input type="file" class="form-control" name="foto_usaha" required="">
                    </div>
                    <div class="form-group">
                        <label for="">Portfolio (PNG, JPG, JPEG)</label>
                        <input type="file" class="form-control" name="portfolio" required="">
                    </div>
                    <div class="form-group">
                        <label for="">Tahun Berdiri</label>
                        <input type="number" class="form-control" name="thn_berdiri" placeholder="Tahun Berdiri usaha.." required="">
                    </div>

                    <div class="form-group">
                        <label for="">Klasifikasi Usaha</label>
                        <select name="klasifikasi" class="form-control" required>
                            <option>--Pilih Klasifikasi--</option>
                            <option value="Mikro">Usaha Mikro (Omset 0 - 300 Juta/Tahun)</option>
                            <option value="Kecil">Usaha Kecil (Omset 300 Juta - 2,3 Milyar/Tahun)</option>
                            <option value="Menengah">Usaha Menengah (Omset 2,5 Milyar - 50 Milyar/Tahun)</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Subsektor Ekonomi Kreatif</label>
                        <select name="subsektor" class="form-control" required>
                            <option>--Pilih Subsektor--</option>
                            <option value="Pengembang Permainan">Pengembang Permainan</option>
                            <option value="Kriya">Kriya</option>
                            <option value="Desain Interior">Desain Interior</option>
                            <option value="Musik">Musik</option>
                            <option value="Seni Rupa">Seni Rupa</option>
                            <option value="Desain Produk">Desain Produk</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Kuliner">Kuliner</option>
                            <option value="Film,Animasi,Dan Video">Film,Animasi,Dan Video</option>
                            <option value="Fotografi">Fotografi</option>
                            <option value="Desain Komunikasi Visual">Desain Komunikasi Visual</option>
                            <option value="Televisi Dan Radio">Televisi Dan Radio</option>
                            <option value="Arsitektur">Arsitektur</option>
                            <option value="Periklanan">Periklanan</option>
                            <option value="Seni Pertunjukan">Seni Pertunjukan</option>
                            <option value="Penerbitan">Penerbitan</option>
                            <option value="Aplikasi">Aplikasi</option>
                            <option value="Tidak Termasuk">Tidak Termasuk</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Badan Hukum/Legalitas Usaha</label>
                        <select name="legalitas" class="form-control" required>
                            <option>--Pilih Legalitas--</option>
                            <option value="Belum Ada">Belum Ada</option>
                            <option value="Koperasi">Koperasi</option>
                            <option value="CV">CV</option>
                            <option value="PT">PT</option>
                            <option value="Yayasan">Yayasan</option>
                            <option value="Perseorangan">Perseorangan</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Kecamatan</label>
                        <select name="kecamatan" class="form-control" id="kecamatan" onChange="dataKelurahan();" required>
                            <option>--Pilih Kecamatan--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Kelurahan</label>
                        <select name="kelurahan" class="form-control" id="kelurahan" required>
                            <option>--Pilih Kelurahan--</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <hr>
                        <a class="text-center" href="{{ url_for('static', filename='doc/tutorialGetLanLong.pdf') }}" target="_blank">Cara mendapatkan Latitude dan Longitude</a>
                    </div>
                    <div class="form-group">
                        <label for="">Longitude</label>
                        <input type="text" class="form-control" name="longitude" placeholder="Longitude.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Latitude</label>
                        <input type="text" class="form-control" name="latitude" placeholder="Latitude.." required="">
                    </div>
                    <div class="form-group">
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="">No HP</label>
                        <input type="number" class="form-control" name="nohp" placeholder="Nomor HP Usaha.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Facebook</label>
                        <input type="text" class="form-control" name="facebook" placeholder="Facebook.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Instagram</label>
                        <input type="text" class="form-control" name="instagram" placeholder="Instagram.." required="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Tambah Data Produk -->
<div class="modal fade" id="modalTambahDataProduk" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Tambah Data Produk</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('user_bp.tambah_produk') }}" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">UMKM</label>
                        <select name="id_umkm" class="form-control">
                            <option>--Pilih UMKM--</option>
                            {% for result in data_umkm %}
                                <option value="{{ result.id }}">{{ result.nama_usaha }}</option>
                            {% endfor %}
                        </select>
                    </div>	
                    <div class="form-group">
                        <label for="">Foto Produk</label>
                        <input type="file" class="form-control" name="foto_produk" required="">
                    </div>								
                    <div class="form-group">
                        <label for="">Nama Produk</label>
                        <input type="text" class="form-control" name="nama_produk" placeholder="Nama produk.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Jenis Produk</label>
                        <select name="jenis_produk" class="form-control">
                            <option>--Pilih Jenis--</option>
                            <option value="Makanan">Makanan</option>
                            <option value="Jasa">Jasa</option>
                            <option value="Pakaian">Pakaian</option>
                            <option value="Perdagangan">Perdagangan</option>
                            <option value="Pertanian">Pertanian</option>
                            <option value="Peternakan">Peternakan</option>
                            <option value="Lainnya">Lainnya</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Deskripsi Produk</label>
                        <input type="text" class="form-control" name="deskripsi_produk" placeholder="Deskripsi produk.." required="">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Tambah Data User -->
<div class="modal fade" id="modalTambahDataUser" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"> Tambah Data User</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{ url_for('admin_bp.tambah_user') }}">
                <div class="modal-body">									
                    <div class="form-group">
                        <label for="">Nama</label>
                        <input type="text" class="form-control" name="nama" placeholder="Nama user.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email user.." required="">
                    </div>
                    <div class="form-group">
                        <label for="">No HP</label>
                        <input type="number" class="form-control" name="nohp" placeholder="No. HP user.." required="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>