    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">

            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
            
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="user-img" width="36" class="img-circle"></span> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="user-box">
                                <div class="u-img"><img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="user"></div>
                                <div class="u-text">
                                    <h4>{{ session['nama']|title }}</h4>
                                    <p class="text-muted">{{ session['email'] }}</p>
                                </div>
                            </div>
                        </li>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalProfil"><i class="la la-user"></i> Ubah Profil</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalPassword"><i class="la la-key"></i> Ubah Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ base_url }}/logout"><i class="la la-power-off"></i> Logout</a>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
        </div>
    </nav>
</div>