<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="{{ url_for('static', filename='img/profile.jpg') }}">
            </div>
            <div class="info">
                <a class="" href="#">
                    <span>
                        {{ session['nama']|title }}
                        <span class="user-level">{{ session['level']|upper }}</span>
                    </span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul class="nav">
            {% if session['level'] == 'admin' %}
            <li class="nav-item {% if '/admin/dashboard' in request.base_url: %} active {% endif %}">
                <a href="{{ base_url }}/admin/dashboard">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {% if '/admin/user' in request.base_url or '/edit_user' in request.base_url: %} active {% endif %}">
                <a href="{{ base_url }}/admin/user">
                    <i class="la la-user"></i>
                    <p>Pengguna</p>
                </a>
            </li>
            {% elif session['level'] == 'user' %}
            <li class="nav-item {% if '/dashboard' in request.base_url: %} active {% endif %}">
                <a href="{{ base_url }}/dashboard">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {% if '/umkm' in request.base_url or '/edit_umkm' in request.base_url: %} active {% endif %}">
                <a href="{{ base_url }}/umkm">
                    <i class="la la-building"></i>
                    <p>UMKM</p>
                </a>
            </li>
            <li class="nav-item {% if '/produk' in request.base_url or '/edit_produk' in request.base_url: %} active {% endif %}">
                <a href="{{ base_url }}/produk">
                    <i class="la la-archive"></i>
                    <p>Produk</p>
                </a>
            </li>
            {% endif %}
            <li class="nav-item update-pro">
                <a href="{{ url_for('static', filename='doc/penggunaan.pdf') }}" target="_blank">
                    <i class="la la-file-pdf-o"></i>
                    <p>Dokumentasi</p>
                </a>
            </li>
        </ul>
    </div>
</div>