{% extends 'admin/layout.html' %}
{% block content %}
    {% if '/user' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Data User</div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalTambahDataUser">Tambah Data</button>
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama User</th>
                            <th scope="col">Email</th>
                            <th scope="col">No HP</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data_user %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.nama }}</td>
                            <td>{{ result.email }}</td>
                            <td>{{ result.nohp }}</td>
                            <td>
                                <a href="{{ base_url }}/admin/edit_user/{{ result.id }}" class="btn btn-warning">Edit Profil</a>
                                <a href="{{ base_url }}/admin/edit_password/{{ result.id }}" class="btn btn-secondary">Edit Password</a>
                                <a href="{{ base_url }}/admin/delete_user/{{ result.id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elif '/edit_user' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Edit Data User</div>
            </div>
            <form method="POST" action="{{ url_for('admin_bp.proses_edit_user') }}">			
                <input type="hidden" name="id" value="{{ data_user[0].id }}">						
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Nama</label>
                        <input type="text" class="form-control" name="nama" placeholder="Nama user.." required="" value="{{ data_user[0].nama }}">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email user.." required="" value="{{ data_user[0].email }}">
                    </div>
                    <div class="form-group">
                        <label for="">No HP</label>
                        <input type="number" class="form-control" name="nohp" placeholder="No. HP user.." required="" value="{{ data_user[0].nohp }}">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ base_url }}/admin/user" class="btn btn-dark">Batal</a>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            </form>
        </div>
    {% elif '/edit_password' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Edit Password User</div>
            </div>
            <form method="POST" action="{{ url_for('admin_bp.proses_edit_password') }}">			
                <input type="hidden" name="id" value="{{ data_user }}">						
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Input password baru.." required="">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ base_url }}/admin/user" class="btn btn-dark">Batal</a>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}