{% extends 'auth/layout.html' %}
{% block content %}
    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Halaman Daftar</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Login Start ====== -->
    <section class="ud-login">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-login-wrapper">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {% for msg in errors %}
                    {{ msg }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                {% with success = get_flashed_messages(category_filter=["success"]) %}
                {% if success %}
                <div class="alert alert-success" role="alert">
                    {% for msg in success %}
                    {{ msg }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form class="ud-login-form" action="{{ url_for('auth_bp.register_check') }}" method="POST">
                    <div class="ud-form-group">
                        <input
                            type="text"
                            name="nama"
                            placeholder="Inputkan Nama Lengkap..."
                        />
                    </div>
                    <div class="ud-form-group">
                        <input
                            type="number"
                            name="nohp"
                            placeholder="Inputkan No HP..."
                        />
                    </div>
                    <div class="ud-form-group">
                        <input
                            type="email"
                            name="email"
                            placeholder="Inputkan Email..."
                        />
                    </div>
                    <div class="ud-form-group">
                        <input
                            type="password"
                            name="password"
                            placeholder="Inputkan Password..."
                        />
                    </div>
                    <div class="ud-form-group">
                        <button type="submit" class="ud-main-btn w-100">Daftar</button>
                    </div>
                </form>
              <p class="signup-option">
                Sudah punya akun? <a href="masuk"> Masuk </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Login End ====== -->
{% endblock %}