<!-- ====== Footer Start ====== -->
    <footer class="ud-footer wow fadeInUp" data-wow-delay=".15s">
      <div class="ud-footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <ul class="ud-footer-bottom-left">
                <li>
                  <a href="javascript:void(0)">Privacy policy</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Support policy</a>
                </li>
                <li>
                  <a href="javascript:void(0)">Terms of service</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <p class="ud-footer-bottom-right">
                Created by
                <a href="#" rel="nofollow">Novita Maya Sari</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ====== Footer End ====== -->

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top">
      <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
    <script src="{{ url_for('static', filename='front/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='front/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='front/js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    {% if 'home' in request.base_url %}

    <!-- Info Data Kecamatan dan Kelurahan -->
    <script>
      if($("#kecamatan").length > 0) {
          $.ajax({
              url: "http://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=1471",
              method: "GET",
              dataType: "json",
              success: function(response){
                  response.kecamatan.forEach(element => {
                      $("#kecamatan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                  });
              }
          });
      }

      function dataKelurahan(){
          var id = $("#kecamatan").val();
          $.ajax({
              url: "http://dev.farizdotid.com/api/daerahindonesia/kelurahan?id_kecamatan="+id,
              method: "GET",
              dataType: "json",
              success: function(response){
                  $('#kelurahan').find('option').remove().end().append('<option value="">--Pilih Kelurahan--</option>');
                  response.kelurahan.forEach(element => {
                      $("#kelurahan").append("<option value='" + element.id + "'>" + element.nama + "</option>");
                  });
              }
          });
      }
    </script>

    <script type="text/javascript">
        var map = L.map('mapHome').setView([0.533505, 101.447403], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = L.layerGroup();

        var dataUMKM = JSON.parse('{{ dataUMKM | tojson | safe}}');
        dataUMKM.forEach(result => {
            var marker = L.marker([result.long, result.lat]);
            marker.bindPopup("<b>Pemilik :</b> "+result.nama_pemilik+"<br><b>Nama Usaha : </b>"+result.nama_usaha+"<br><a href='masuk'>Selengkapnya...</a>");
            markers.addLayer(marker);
        });
        this.map.addLayer(markers);

        $("#cariUMKM").click(function() {

          //menerima keyword yg akan dicari
            var subsektor = document.getElementById("subsektor").value;
            var klasifikasi = document.getElementById("klasifikasi").value;
            var legalitas = document.getElementById("legalitas").value;
            var kecamatan = document.getElementById("kecamatan").value;
            var kelurahan = document.getElementById("kelurahan").value;
            
            var where_condition = "";
            if(subsektor != "") {
                where_condition += "p.subsektor = '"+subsektor+"'";
            }
            if(klasifikasi != "") {
                where_condition += " AND q.klasifikasi = '"+klasifikasi+"'";
            }
            if(legalitas != "") {
                where_condition += " AND q.legalitas = '"+legalitas+"'";
            }
            if(kecamatan != "") {
                where_condition += " AND q.kecamatan = '"+kecamatan+"'";
            }
            if(kelurahan != "") {
                where_condition += " AND q.kelurahan = '"+kelurahan+"'";
            }

            if(where_condition.substring(0, 4) == " AND") {
                where_condition = where_condition.substring(4);
            }

            $.ajax({
                url: "{{ url_for('public_bp.pencarian') }}",
                method: "GET",
                dataType: "json",
                data: {keyword:where_condition},
                beforeSend: function (e) {
                    $("#cariUMKM").html("Mencari...");
                    $("#cariUMKM").attr("disabled", true);
                },
                success: function (response) {
                    if (response.status === "success") {
                      if(response.data.length > 0){
                        markers.clearLayers();
                        response.data.forEach(result => {
                            var marker = L.marker([result.long, result.lat]);
                            marker.bindPopup("<b>Nama Usaha : </b>"+result.nama_usaha+"<br><a href='masuk'>Selengkapnya...</a>");
                            markers.addLayer(marker);
                        });
                      }else{
                        alert("Data tidak ditemukan");
                      }
                        
                    } else if (response.status === "failed") {
                        alert("Terjadi kesalahan.");
                    }
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                    alert("Terjadi kesalahan: " + xhr.status + ": " + xhr.statusText);
                },
                complete: function () {
                    $("#cariUMKM").html("Cari");
                    $("#cariUMKM").attr("disabled", false);
                }
            });

        });
    </script>
{% endif %}
  </body>
</html>