{% extends 'auth/layout.html' %}
{% block content %}
    <!-- ====== Banner Start ====== -->
    <section class="ud-page-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="ud-banner-content">
              <h1>Selamat Datang di Aplikasi Pemetaan UMKM</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Banner End ====== -->

    <!-- ====== Map Start ====== -->
    <section class="ud-login">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-header justify-content-center">
              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                      <select name="klasifikasi" id="klasifikasi" class="form-control">
                          <option value="">--Pilih Klasifikasi--</option>
                          <option value="Mikro">Usaha Mikro (Omset 0 - 300 Juta/Tahun)</option>
                          <option value="Kecil">Usaha Kecil (Omset 300 Juta - 2,3 Milyar/Tahun)</option>
                          <option value="Menengah">Usaha Menengah (Omset 2,5 Milyar - 50 Milyar/Tahun)</option>
                      </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                      <select name="subsektor" id="subsektor" class="form-control">
                          <option value="">--Pilih Subsektor--</option>
                          <option value="Pengembang Permainan">Pengembang Permainan</option>
                          <option value="Kriya">Kriya</option>
                          <option value="Desain Interior">Desain Interior</option>
                          <option value="Musik">Musik</option>
                          <option value="Seni Rupa">Seni Rupa</option>
                          <option value="Desain Produk">Desain Produk</option>
                          <option value="Fashion">Fashion</option>
                          <option value="Kuliner">Kuliner</option>
                          <option value="Film,Animasi,Dan Video">Film,Animasi,Dan Video</option>
                          <option value="Fotografi">Fotografi</option>
                          <option value="Desain Komunikasi Visual">Desain Komunikasi Visual</option>
                          <option value="Televisi Dan Radio">Televisi Dan Radio</option>
                          <option value="Arsitektur">Arsitektur</option>
                          <option value="Periklanan">Periklanan</option>
                          <option value="Seni Pertunjukan">Seni Pertunjukan</option>
                          <option value="Penerbitan">Penerbitan</option>
                          <option value="Aplikasi">Aplikasi</option>
                          <option value="Tidak Termasuk">Tidak Termasuk</option>
                      </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                      <select name="legalitas" id="legalitas" class="form-control">
                          <option value="">--Pilih Legalitas--</option>
                          <option value="Belum Ada">Belum Ada</option>
                          <option value="Koperasi">Koperasi</option>
                          <option value="CV">CV</option>
                          <option value="PT">PT</option>
                          <option value="Yayasan">Yayasan</option>
                          <option value="Perseorangan">Perseorangan</option>
                      </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <select name="kecamatan" class="form-control" id="kecamatan" onChange="dataKelurahan();">
                      <option value="">--Pilih Kecamatan--</option>
                      </select>
                    </div>
                </div> 
                <div class="col-2">
                  <div class="form-group">
                    <select name="kelurahan" class="form-control" id="kelurahan">
                      <option value="">--Pilih Kelurahan--</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <button type="submit" id="cariUMKM" class="btn btn-primary btn-block">Cari</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="mapHome" style="height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ====== Map End ====== -->
{% endblock %}