{% extends 'user/layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <div class="form-group">
                        <select name="klasifikasi" id="klasifikasi" class="form-control">
                            <option value="">--Pilih Klasifikasi--</option>
                            <option value="Mikro">Usaha Mikro (Omset 0 - 300 Juta/Tahun)</option>
                            <option value="Kecil">Usaha Kecil (Omset 300 Juta - 2,3 Milyar/Tahun)</option>
                            <option value="Menengah">Usaha Menengah (Omset 2,5 Milyar - 50 Milyar/Tahun)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="subsektor" id="subsektor" class="form-control">
                            <option value="">--Pilih Subsektor--</option>
                            <option value="Pengembang Permainan">Pengembang Permainan</option>
                            <option value="Kriya">Kriya</option>
                            <option value="Desain Interior">Desain Interior</option>
                            <option value="Musik">Musik</option>
                            <option value="Seni Rupa">Seni Rupa</option>
                            <option value="Desain Produk">Desain Produk</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Kuliner">Kuliner</option>
                            <option value="Film,Animasi,Dan Video">Film,Animasi,Dan Video</option>
                            <option value="Fotografi">Fotografi</option>
                            <option value="Desain Komunikasi Visual">Desain Komunikasi Visual</option>
                            <option value="Televisi Dan Radio">Televisi Dan Radio</option>
                            <option value="Arsitektur">Arsitektur</option>
                            <option value="Periklanan">Periklanan</option>
                            <option value="Seni Pertunjukan">Seni Pertunjukan</option>
                            <option value="Penerbitan">Penerbitan</option>
                            <option value="Aplikasi">Aplikasi</option>
                            <option value="Tidak Termasuk">Tidak Termasuk</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="legalitas" id="legalitas" class="form-control">
                            <option value="">--Pilih Legalitas--</option>
                            <option value="Belum Ada">Belum Ada</option>
                            <option value="Koperasi">Koperasi</option>
                            <option value="CV">CV</option>
                            <option value="PT">PT</option>
                            <option value="Yayasan">Yayasan</option>
                            <option value="Perseorangan">Perseorangan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="kecamatan" class="form-control" id="kecamatan" onChange="dataKelurahan();">
                            <option value="">--Pilih Kecamatan--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="kelurahan" class="form-control" id="kelurahan">
                            <option value="">--Pilih Kelurahan--</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" id="cariUMKM" class="btn btn-primary btn-block">Cari</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Visualisasi</h4>
                <p class="card-category"><span id="dot-neovis"></span> <br> <span id="total-kategori"></span> <span id="total-umkm"></span> <span id="total-produk"></span> </p>
            </div>
            <div class="card-body">
                <div class="mapcontainer">
                    <div id="viz" style="min-height: 480px; height: 480px; max-height: 400px; max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Peta</h4>
                <p class="card-category">
                <span id="total-umkm-peta"></span></p>
            </div>
            <div class="card-body">
                <div class="mapcontainer">
                    <div id="mapUmkmUser" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tabel</h4>
                <p class="card-category">
                Detail Data UMKM</p>
            </div>
            <div class="card-body">
                <!-- <div id="tablesUmkmUser"></div> -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Klasifikasi</th>
                            <th scope="col">Subsektor</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set status_before = [] %}
                        {% for result in dataTable %}
                        <tr>
                            {% if result.klas in status_before %}
                                <td></td>
                            {% else %}
                                <td>{{ result.klas }}</td>
                                {% set __ = status_before.append(result.klas) %}
                            {% endif %}
                            <!-- <td>{{ result.klas }}</td> -->
                            <td>{{ result.sub }}</td>
                            <td>{{ result.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}