<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>{{ title }} - {{ app_name }}</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
	
	{% include('_partials/css.html') %}

</head>
<body onload="draw()">
	<div class="wrapper">
		<div class="main-header">
			<div class="logo-header">
				<a href="{{ base_url }}" class="logo">
					{{ app_name }}
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
			</div>
			
			<!-- INCLUDE NAVBAR -->
			{% include('_partials/navbar.html') %}

			<!-- INCLUDE SIDEBAR -->
			{% include('_partials/sidebar.html') %}

			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">{{ title }}</h4>

						<div class="row">
							<div class="col-lg-12">
								{% with errors = get_flashed_messages(category_filter=["error"]) %}
									{% if errors %}
									<div class="alert alert-danger" role="alert">
										{% for msg in errors %}
											{{ msg }}
										{% endfor %}
									</div>
									{% endif %}
								{% endwith %}

								{% with success = get_flashed_messages(category_filter=["success"]) %}
									{% if success %}
									<div class="alert alert-success" role="alert">
										{% for msg in success %}
											{{ msg }}
										{% endfor %}
									</div>
									{% endif %}
								{% endwith %}
							</div>
						</div>
						<!-- CONTENT WILL BE HERE -->
						{% block content %}
            			{% endblock %}
						
					</div>
				</div>


			<!-- INCLUDE FOOTER -->
			{% include('_partials/footer.html') %}

			</div>
		</div>
	</div>
	
	<!-- INCLUDE MODAL -->
	{% include('_partials/modal.html') %}

</body>

	<!-- INCLUDE JAVASCRIPT -->
	{% include('_partials/js.html') %}
	{% include('_partials/ajax.html') %}

</html>