{% extends 'user/layout.html' %}
{% block content %}
    {% if '/produk' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Data Produk</div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalTambahDataProduk">Tambah Data</button>
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Produk</th>
                            <th scope="col">Foto Produk</th>
                            <th scope="col">Jenis Produk</th>
                            <th scope="col">Deskripsi Produk</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data_produk %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.nama_produk }}</td>
                            <td><img width="75" height="50" src="{{ url_for('static', filename='uploads/'+result.foto) }}"></td>
                            <td>{{ result.jenis_produk }}</td>
                            <td>{{ result.deskripsi_produk }}</td>
                            <td>
                                <a href="{{ base_url }}/edit_produk/{{ result.id }}" class="btn btn-warning">Edit</a>
                                <a href="{{ base_url }}/delete_produk/{{ result.id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elif '/edit_produk' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Edit Data Produk</div>
            </div>
            <form method="POST" action="{{ url_for('user_bp.proses_edit_produk') }}" enctype="multipart/form-data">			
                <input type="hidden" name="id" value="{{ data_produk[0].id }}">						
                <div class="card-body">
                    <div class="form-group">
                        <label for="">UMKM</label>
                        <select name="id_umkm" class="form-control" disabled>
                            <option>--Pilih UMKM--</option>
                            {% for result in data_umkm %}
                                <option value="{{ result.id }}" {% if data_produk[0].id_umkm==result.id: %} selected="" {% endif %}>{{ result.nama_usaha }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Nama Produk</label>
                        <input type="text" class="form-control" name="nama_produk" placeholder="Nama produk.." required="" value="{{ data_produk[0].nama_produk }}">
                    </div>
                    <div class="form-group">
                        <label for="">Foto Produk (Kosongkan jika tidak ingin mengubah foto produk)</label>
                        <input type="file" class="form-control" name="foto_produk">
                    </div>
                    <div class="form-group">
                        <label for="">Jenis Produk</label>
                        <select name="jenis_produk" class="form-control">
                            <option>--Pilih Jenis--</option>
                            <option value="Makanan" {% if 'Makanan' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Makanan</option>
                            <option value="Jasa" {% if 'Jasa' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Jasa</option>
                            <option value="Pakaian" {% if 'Pakaian' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Pakaian</option>
                            <option value="Perdagangan" {% if 'Perdagangan' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Perdagangan</option>
                            <option value="pertanian" {% if 'Petanian' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Pertanian</option>
                            <option value="Peternakan" {% if 'Peternakan' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Peternakan</option>
                            <option value="Lainnya" {% if 'Lainnya' in data_produk[0].jenis_produk: %} selected="" {% endif %}>Lainnya</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Deskripsi Produk</label>
                        <input type="text" class="form-control" name="deskripsi_produk" placeholder="Deskripsi produk.." required="" value="{{ data_produk[0].deskripsi_produk }}">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ base_url }}/produk" class="btn btn-dark">Batal</a>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}