{% extends 'user/layout.html' %}
{% block content %}
    {% if '/umkm' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Data UMKM</div>
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalTambahDataUMKM">Tambah Data</button>
            </div>
            <div class="card-body">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama UMKM</th>
                            <th scope="col">Foto UMKM</th>
                            <th scope="col">Portfolio UMKM</th>
                            <!-- <th scope="col">Klasifikasi</th>
                            <th scope="col">Legalitas</th>
                            <th scope="col">Kecamatan</th>
                            <th scope="col">Kelurahan</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Latitude</th> -->
                            <th scope="col">No. HP</th>
                            <th scope="col">Email</th>
                            <th scope="col">Facebook</th>
                            <th scope="col">Instagram</th>
                            <th scope="col">Tahun Berdiri</th>
                            <th scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data_umkm %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.nama_usaha }}</td>
                            <td><img width="75" height="50" src="{{ url_for('static', filename='uploads/'+result.foto) }}"></td>
                            <td><img width="75" height="50" src="{{ url_for('static', filename='uploads/'+result.portfolio) }}"></td>
                            <!-- <td>{{ result.klasifikasi }}</td>
                            <td>{{ result.legalitas }}</td>
                            <td>{{ result.kecamatan }}</td>
                            <td>{{ result.kelurahan }}</td>
                            <td>{{ result.longitude }}</td>
                            <td>{{ result.latitude }}</td> -->
                            <td>{{ result.nohp }}</td>
                            <td>{{ result.email }}</td>
                            <td>{{ result.facebook }}</td>
                            <td>{{ result.instagram }}</td>
                            <td>{{ result.thn_berdiri }}</td>
                            <td>
                                <a href="{{ base_url }}/edit_umkm/{{ result.id }}" class="btn btn-warning">Edit</a>
                                <a href="{{ base_url }}/delete_umkm/{{ result.id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% elif '/edit_umkm' in request.base_url: %}
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">Edit Data UMKM</div>
            </div>
            <form method="POST" action="{{ url_for('user_bp.proses_edit_umkm') }}" enctype="multipart/form-data">			
                <input type="hidden" name="id" value="{{ data_umkm[0].id }}">						
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Nama Usaha</label>
                        <input type="text" class="form-control" name="nama_usaha" placeholder="Nama usaha.." required="" value="{{ data_umkm[0].nama_usaha }}">
                    </div>
                    <div class="form-group">
                        <label for="">Foto Usaha (JPG/Kosongkan jika tidak ingin mengubah)</label>
                        <input type="file" class="form-control" name="foto_usaha">
                    </div>
                    <div class="form-group">
                        <label for="">Portfolio (PDF/Kosongkan jika tidak ingin mengubah)</label>
                        <input type="file" class="form-control" name="portfolio">
                    </div>
                    <div class="form-group">
                        <label for="">Tahun Berdiri</label>
                        <input type="number" class="form-control" name="thn_berdiri" placeholder="Tahun Berdiri usaha.." required="" value="{{ data_umkm[0].thn_berdiri }}">
                    </div>
                    <div class="form-group">
                        <label for="">Klasifikasi Usaha</label>
                        <select name="klasifikasi" class="form-control" required>
                            <option>--Pilih Klasifikasi--</option>
                            <option value="Mikro" {% if data_umkm[0].klasifikasi=="Mikro" %} selected="selected"{% endif %} >Usaha Mikro (Omset 0 - 300 Juta/Tahun)</option>
                            <option value="Kecil" {% if data_umkm[0].klasifikasi=="Kecil" %} selected="selected"{% endif %} >Usaha Kecil (Omset 300 Juta - 2,3 Milyar/Tahun)</option>
                            <option value="Menengah" {% if data_umkm[0].klasifikasi=="Menengah" %} selected="selected"{% endif %} >Usaha Menengah (Omset 2,5 Milyar - 50 Milyar/Tahun)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Badan Hukum/Legalitas Usaha</label>
                        <select name="legalitas" class="form-control" required>
                            <option>--Pilih Legalitas--</option>
                            <option value="Belum Ada" {% if data_umkm[0].legalitas=="Belum Ada" %} selected="selected"{% endif %} >Belum Ada</option>
                            <option value="Koperasi" {% if data_umkm[0].legalitas=="Koperasi" %} selected="selected"{% endif %} >Koperasi</option>
                            <option value="CV" {% if data_umkm[0].legalitas=="CV" %} selected="selected"{% endif %} >CV</option>
                            <option value="PT" {% if data_umkm[0].legalitas=="PT" %} selected="selected"{% endif %} >PT</option>
                            <option value="Yayasan" {% if data_umkm[0].legalitas=="Yayasan" %} selected="selected"{% endif %} >Yayasan</option>
                            <option value="Perseorangan" {% if data_umkm[0].legalitas=="Perseorangan" %} selected="selected"{% endif %} >Perseorangan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Kecamatan</label>
                        <input type="hidden" name="id_kecamatan" id="id_kecamatan" value="{{ data_umkm[0].kecamatan }}">
                        <select name="kecamatan" class="form-control" id="edit_kecamatan" onChange="dataKelurahanEdit();" required>
                            <option>--Pilih Kecamatan--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Kelurahan</label>
                        <input type="hidden" name="id_kelurahan" id="id_kelurahan" value="{{ data_umkm[0].kelurahan }}">
                        <select name="kelurahan" class="form-control" id="edit_kelurahan" required>
                            <option>--Pilih Kelurahan--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Longitude</label>
                        <input type="text" class="form-control" name="longitude" placeholder="Longitude.." required="" value="{{ data_umkm[0].longitude }}">
                    </div>
                    <div class="form-group">
                        <label for="">Latitude</label>
                        <input type="text" class="form-control" name="latitude" placeholder="Latitude.." required="" value="{{ data_umkm[0].latitude }}">
                    </div>
                    <div class="form-group">
                        <label for="">No HP</label>
                        <input type="number" class="form-control" name="nohp" placeholder="Nomor HP Usaha.." required=""  value="{{ data_umkm[0].nohp }}">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email.." required=""  value="{{ data_umkm[0].email }}">
                    </div>
                    <div class="form-group">
                        <label for="">Facebook</label>
                        <input type="text" class="form-control" name="facebook" placeholder="Facebook.." required="" value="{{ data_umkm[0].facebook }}">
                    </div>
                    <div class="form-group">
                        <label for="">Instagram</label>
                        <input type="text" class="form-control" name="instagram" placeholder="Instagram.." required="" value="{{ data_umkm[0].instagram }}">
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ base_url }}/umkm" class="btn btn-dark">Batal</a>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}